body, div, p      {
                   margin: 0px;
                   padding: 0px;}



.fontsize1        {
                  font-size: 14px;
                  }

.block1           {
                  width: 200px;

                  }

.center           {
                   margin: auto;
                  }

.border           {
                  border: solid 1px black;
                  padding: 5px;
                  margin-top: 25px;
                  }
